#carouselExampleIndicators {
    max-width: 700px;
    margin: 0 auto;
}
.carousel-inner img {
    @include diseñoimg; 
    max-height: 400px;
    width: 100%; 
}
.ImagendeEnviosypagos {
    @include diseñoimg; 
    @include centerblock;
}
