h4{
    text-align: center;
}
.modificartitulo{
    text-align: center;
   margin: 70px;
   }
main{
    ol{
        text-align: center;
        list-style-position: inside; 
    }
}
.centrotitu{
    text-align: center;
    margin: 20px;
}
