.categoria {
    margin-bottom: 50px;
}
.catalogoDeMates,
.catalogoDeCuencos,
.catalogoDeVelas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;
}
article {
    background-color: #644b5250; 
    border-radius: 5px;
    padding: 1px;
    box-shadow: 0 0 100px rgba(90, 50, 50, 0.356);
    margin-bottom: 10px;
    img{
        width: 80%;
        border-radius: 1px;
        margin-bottom: 1px;
        padding: 30px;
    }
    p{
        margin-bottom: 10px;
    }
    button:hover{
        background-color:rgb(124, 84, 87)
    }
}