section {
    margin-bottom: 20px; 
}

.categoria {
    text-align: center;
    margin-bottom: 10px;
}

.catalogoDeMates, .catalogoDeCuencos, .catalogoDeVelas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.catalogoDeMates article, .catalogoDeCuencos article, .catalogoDeVelas article {
    width: calc(25% - 20px); 
    margin-bottom: 20px;
    text-align: center;
}

.catalogoDeMates img, .catalogoDeCuencos img, .catalogoDeVelas img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto 10px;
}

.catalogoDeMates p, .catalogoDeCuencos p, .catalogoDeVelas p {
    margin-bottom: 10px;
}

.catalogoDeMates button, .catalogoDeCuencos button, .catalogoDeVelas button {
    background-color: #333;
    color: white;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
article{
    padding: 30px;
    border-style:double;
    border-color:rgb(124, 43, 68);
    background-image: linear-gradient(to bottom,#5d0c1e5d,  #f5f5f5);
}