@media (max-width: 768px) {
    .logodeinicio {
        width: 100%;
        padding: 0;
    }
    header {
        flex-direction: column;
    }
    .nav-list{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 1px;
        right: 1px;
    }
    .search-container {
        width: 100%;
        margin: 10px 0;
    }
    footer{
        display: flex;
        flex-direction: column;
    }
    li{
        margin: 1px;
    }
    .contactoporaca{
        display: flex;
        flex-direction: column;
    }
    .formulado{
        display: flex;
        flex-direction: column;
    }
    .catalogoDeMates article, .catalogoDeCuencos article, .catalogoDeVelas article {
        width: 100%; 
    }
}