@media (max-width: 768px) {
    .logodeinicio {
        order: 1;
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
    }
    header {
        flex-direction: column;
    }
    .nav-list{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 1px;
        right: 1px;
    }
    .search-container {
        width: 100%;
        margin: 10px 0;
    }
    footer{
        display: flex;
        flex-direction: column;
    }
    li{
        margin: 1px;
    }
    .contactoporaca{
        display: flex;
        flex-direction: column;
    }
    .formulado{
        display: flex;
        flex-direction: column;
    }
}